---
language: node_js
node_js:
  - '0.10'
  - '0.11'
  - 'iojs'
before_install:
  - sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++
notifications:
   email: false
git:
  depth: 10
